@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./input.css -o css/style.css --watch */

html,body {
    height: 100%;
}

.sideways {
    writing-mode: vertical-lr; 
    text-orientation: sideways;
}

p {
    line-height: 1.5;
}